registry=https://mirrors.tencent.com/npm
//mirrors.tencent.com/:_password="MGE4ZGIwMjQxMmM2MTFlYjkwOWM2YzkyYmY1ZTM2NDU="
//mirrors.tencent.com/:username=g_qqmusicfe
//mirrors.tencent.com/:email=g_qqmusicfe@tencent.com
//mirrors.tencent.com/:always-auth=false